@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 13px;
    background-color:rgb(184, 184, 184);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #0D8C44;
}

h1,h2{
  font-family: 'Inknut Antiqua', serif ;
}

a, button{
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.3s linear;
}

button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30),
    0 5px 5px rgba(0, 0, 0, 0.22);
}

p{
    line-height: 28px;
}

.traco {
    height: 1px;
    width: 80px;
    border-bottom: 1px solid #000;
    margin-left: 15px;
    margin-top: 3px;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px 0;
    background-color: #e9fff3;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
}

.subtitle h5 {
    letter-spacing: 2px;
}

.apresentation{
    background-color: #e6e4e4;
}

.apresentation .nav {
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
}

.apresentation .nav .content__options ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.apresentation .nav .content__options ul li {
    margin-right: 30px;
}

.apresentation .nav .content__options ul li i {
    color: #094624;
    font-size: 28px;
    margin-right: 35px;
}

.apresentation .nav .content__options ul li a {
    color: #0A261C;
}

.apresentation .nav .content__options ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #39402F;
    transition: 0.15s linear;
}

.apresentation .nav .contactUs a {
    padding: 10px 15px;
    background-color: #0D8C44;
    color: rgb(255, 253, 253);
    border-radius: 30px;
}

.apresentation .nav .contactUs a:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30),
    0 5px 5px rgba(0, 0, 0, 0.22);
}

.apresentation .content__apresentation{
    width: 70%;
    margin: 0 auto;
}

.apresentation .content__apresentation .text__plant {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    overflow-x: hidden;
}

.apresentation .content__apresentation .text__plant .text {
    width: 80%;
    margin-right: 100px;
}

.apresentation .content__apresentation .text__plant .text h1 {
    font-size: 40px;
    line-height: 55px;
}

.apresentation .content__apresentation .text__plant .text p {
    margin-top: 30px;
    margin-bottom: 35px;
}

.apresentation .content__apresentation .text__plant .text a {
    padding: 10px 15px;
    background-color: #0D8C44;
    color: rgb(255, 253, 253);
    border-radius: 30px;
}

.apresentation .content__apresentation .text__plant .text a:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30),
    0 5px 5px rgba(0, 0, 0, 0.22);
}

.apresentation .content__apresentation .text__plant .text .onu {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
}

.apresentation .content__apresentation .text__plant .text .onu img {
    margin-right: 10px;
}

.apresentation .content__apresentation .plant {
    width: 500px;
    height: 450px
}

/* estilização default para as sections restantes */
.content__sections{
    width: 55%;
    margin: 80px auto;
    display: flex;
    align-items: flex-start;
}

.content__sections .text h1 {
    line-height: 50px;
}

.content__sections .text img {
    width: 100%;
    min-width: 350px;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content__sections .text p {
    margin-top: 40px;
}
/* fim desta estilização */

.challenge .content__sections .text .negrito {
    font-weight: 600;
}

.solution1{
    background-color: #e6e4e4;
}

.solution1 .content__sections{
    display: block;
}

.solution1 .content__sections .flex {
    display: flex;
    align-items: flex-start;
}

.solution1 .content__sections .test {
    margin: 70px auto;
    font-size: 13px;
    font-weight: 600;
}

.solution1 .content__sections .test label {
    margin-right: 10px;
}

.solution1 .content__sections .test input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding-bottom: 2px;
}

.solution1 .content__sections .test button {
    padding: 10px 15px;
    background-color: #0D8C44;
    color: rgb(255, 253, 253);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

.solution1 .content__sections .result {
    width: 100%;
}

.solution1 .content__sections .result .card {
    width: 100%;
    min-height: 50vh;
    background-color: rgb(188, 253, 197);
    border-radius: 5px;
    padding: 30px 20px;
    position: relative;
    top: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

.solution1 .content__sections .card .notFound {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.solution1 .content__sections .result .card img {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    min-width:200px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.solution1 .content__sections .result .card .topics {
    margin-top: 30px;
}

.solution1 .content__sections .result .card .topics h4 {
    margin-bottom: 5px;
}

.team{
    background-color: #e6e4e4;
}


.team .content__sections{
    display: block;
}

.team .content__sections .text .person{
    width: 600px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin: 40px 0;
}

.team .content__sections .text .person img{
    width: 300px;
    min-width: 300px;
    border-radius: 50%;
    left: 0;
    transform:translateX(0);
    margin-right: 50px;
}


