@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 13px;
    background-color: rgb(184, 184, 184);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0D8C44;
}

h1,
h2 {
    font-family: 'Inknut Antiqua', serif;
}

a,
button {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.3s linear;
}

button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30),
        0 5px 5px rgba(0, 0, 0, 0.22);
}

iframe {
    width: 100%;
    height: 250px;
}

p {
    line-height: 28px;
}

.traco {
    height: 1px;
    width: 80px;
    border-bottom: 1px solid #000;
    margin-left: 15px;
    margin-top: 3px;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px 0;
    background-color: #e9fff3;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
}

.subtitle h5 {
    letter-spacing: 2px;
}

.apresentation {
    background-color: #e6e4e4;
}

.apresentation .nav {
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.apresentation .nav i {
    color: #094624;
    font-size: 28px;
    margin-right: 60px;
}

.apresentation .nav .content__options {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentation .nav .content__options ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.apresentation .nav .content__options ul li {
    margin-right: 30px;
}

.apresentation .nav .content__options ul li a {
    color: #0A261C;
}

.apresentation .nav .content__options ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #39402F;
    transition: 0.15s linear;
}

.apresentation .nav .content__options .contactUs a {
    padding: 10px 15px;
    background-color: #0D8C44;
    color: rgb(255, 253, 253);
    border-radius: 30px;
}

.apresentation .nav .content__options .contactUs a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30),
        0 5px 5px rgba(0, 0, 0, 0.22);
}

.apresentation .nav button {
    width: 28px;
    display: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 10%;
    z-index: 1;
}

.apresentation .content__apresentation {
    width: 70%;
    margin: 0 auto;
}

.apresentation .content__apresentation .text__plant {
    width: 100%;
    margin-bottom: 60px;
    display: flex;

}

.apresentation .content__apresentation .text__plant .text {
    width: 80%;
    margin-right: 100px;
}

.apresentation .content__apresentation .text__plant .text .text_and_image {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.apresentation .content__apresentation .text__plant .text .text_and_image h1 {
    width: 60%;
    font-size: 40px;
    line-height: 55px;
    margin-right: 50px;
}

.apresentation .content__apresentation .text__plant .text .text_and_image img {
    width: 280px;
    height: 280px;
}

.apresentation .content__apresentation .text__plant .text p {
    margin-top: 30px;
    margin-bottom: 35px;
}

.apresentation .content__apresentation .text__plant .text iframe {
    display: block;
    margin-bottom: 30px;
    margin-top: 50px;
}

.apresentation .content__apresentation .text__plant .text .onu {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
}

.apresentation .content__apresentation .text__plant .text .onu img {
    margin-right: 10px;
}

/* estilização default para as sections restantes */
.content__sections {
    width: 55%;
    margin: 80px auto;
    display: flex;
    align-items: flex-start;
}

.content__sections .text h1 {
    line-height: 50px;
}

.content__sections .text img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content__sections .text p {
    margin-top: 40px;
}

/* fim desta estilização */

.challenge .content__sections .text .negrito {
    font-weight: 600;
}

.solution1 {
    background-color: #e6e4e4;
}

.solution1 .content__sections {
    display: block;
}

.solution1 .content__sections .flex {
    display: flex;
    align-items: flex-start;
}

.solution1 .content__sections .test {
    margin: 70px auto;
    font-size: 13px;
    font-weight: 600;
}

.solution1 .content__sections .test label {
    margin-right: 10px;
}

.solution1 .content__sections .test input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding-bottom: 2px;
}

.solution1 .content__sections .test button {
    padding: 10px 15px;
    background-color: #0D8C44;
    color: rgb(255, 253, 253);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

.solution1 .content__sections .result {
    width: 100%;
}

.solution1 .content__sections .result .card {
    width: 100%;
    min-height: 50vh;
    background-color: rgb(188, 253, 197);
    border-radius: 5px;
    padding: 30px 20px;
    position: relative;
    top: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
        0 15px 12px rgba(0, 0, 0, 0.22);
}

.solution1 .content__sections .card .notFound {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.solution1 .content__sections .result .card img {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.solution1 .content__sections .result .card .topics {
    margin-top: 30px;
}

.solution1 .content__sections .result .card .topics h4 {
    margin-bottom: 5px;
}

.team {
    background-color: #e6e4e4;
}


.team .content__sections {
    display: block;
}

.team .content__sections .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team .content__sections .text .person {
    width: 220px;
    margin: 40px 0px;
}

.team .content__sections .text .person img {
    width: 90%;
    left: 0;
    transform: translateX(0);
    margin-right: 50px;
    border-radius: 5px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    min-height: 100vh;
    background-color: rgb(188, 253, 197);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
        0 15px 12px rgba(0, 0, 0, 0.22);
    margin: 50px auto;
    margin-bottom: 35px;
    padding: 40px 30px;
    border-radius: 10px;
}

.contact form h1 {
    margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
    width: 90%;
    outline: none;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.contact form textarea {
    resize: none;
}

.contact form button {
    width: 150px;
    height: 40px;
    background-color: #0D8C44;
    border: none;
    border-radius: 30px;
    color: #e6e4e4;
}

.footer {
    min-height: 10vh;
    background-color: #e6e4e4;
    display: flex;
    align-items: center;
}

.footer .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer .content a:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.footer .content .footer__contact i {
    margin-right: 5px;
}

.footer .content .footer__contact a {
    margin-right: 40px;
}

.footer .content .sociais a {
    margin-right: 5px;
}

@media(max-width: 990px) {

    .apresentation .nav {
        justify-content: space-between;
    }

    .apresentation .nav.active{
        width: 100%;
    }

    .apresentation .nav i.remove{
        display: none;
    }

    .apresentation .nav button {
        display: flex;
    }

    .apresentation .nav .content__options {
        display: none;
    }

    .apresentation .nav .content__options.active {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: 450px;
        margin-top: 300px;
        background-color: #e6e4e4;
        z-index: 1;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
    }

    .apresentation .nav .content__options ul {
        flex-direction: column;
    }

    .apresentation .nav .content__options ul li {
        margin-right: 0px;
        margin-top: 50px;
    }

    .apresentation .nav .content__options .contactUs {
        margin-top: 50px;
    }

    .content__sections {
        display: block;
    }

    .plant {
        display: none;
    }

    .apresentation .content__apresentation .text__plant .text .text_and_image h1 {
        width: 100%;
    }

    .solution1 .content__sections .flex {
        display: block;
    }

    .content__sections h1 {
        margin-top: 40px;
    }

}

@media(max-width: 760px) {

    .content__sections {
        width: 70%;
    }

    .solution1 .content__sections .test form {
        display: flex;
        flex-direction: column;
        line-height: 60px;
    }

    .solution1 .content__sections .test form button {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media(max-width:446px) {
    p {
        font-size: 15px;
    }

    .apresentation .content__apresentation .text__plant .text .text_and_image h1 {
        font-size: 32px;
    }

    .contact{
        min-height:90vh;
    }

    .contact form {
        padding: none;
        background-color: transparent;
        box-shadow: none;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 90vh;
    }

    .contact form,
    .contact form input,
    .contact form textarea {
        width: 100%;
    }

    .footer {
        padding: 20px;
    }

    .footer .content .footer__contact{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer .content .footer__contact a {
        margin-right: 0px;
    }

    .footer .content .sociais {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }

    .footer .content .sociais a{
        margin-right: 20px;
    }
}